body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  margin-top: 0;
}
header {
  height: 69px;
  width: 100%;
  /* border: 1px solid white; */
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.logo {
  /* border: 3px solid lightblue; */
}
.logo img{
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  /* border: 1px solid red; */
}
.flex {
    display: flex;
}
nav {
  /* border: 3px solid lightblue; */
  width: 400px;
  justify-content: space-around;
}
nav a{
  text-decoration: underline;
  color: seashell;
}
nav span {
  /* border: 1px solid red; */
  display:inline-flex;
  align-items: center;
  justify-content: space-around;
}
.main {
  padding-top: 70px;
}
.hero {
    /* border: 1px solid white; */
  background-image: url(../images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  align-items: center;
  justify-content: center;
}
.mission {
    /* border: 5px solid green; */
  width: 1200px;
  height: 500px; /* change this size to get exact snap-to i want from nav button; */
  flex-direction: column;
  justify-content: center;
}
h2, h4 {
    /* border: 1px solid red; */
  text-align: center;
  background-color: black;
  padding: 10px;
  margin: 0px;
}
.featured {
    /* border: 1px solid red; */
  width:1068px;
  height: auto;
  margin: auto;
  padding-top: 70px;
}
.teas {
    /* border: 3px dashed green; */
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
}
.tea_container {
    /* border: 2px solid lightblue; */
  margin: 5px 25px;
}
.tea_container img {
  width: 300px;
  height: 200px;
}
.locations {
      /* border: 2px solid green; */
  background-image: url(../images/img-locations-background.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 90px;
  flex-direction: column;
  align-items: center;
}
.location_heading {
    /* border: 2px solid lightblue; */
  text-align: center;
  background-color: transparent;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 15px;

}
.location_boxes {
      /* border: 2px solid yellow; */
  justify-content: space-between;
  width: 980px;
}
.location {
      /* border: 2px solid red; */
  width: 300px;
  text-align: center;
  background-color: black;
}
.location p {
  padding-top: 15px;
}
.contact {
    /* border: 2px solid red; */
  text-align: center;
  height: 200px;
}
footer {
    /* border: 2px solid green; */
  text-align: left;
  margin-left: 20px;
}
